strong{
    font-size: 50px;
}
body{
    background-color: #96969683;;
    /* color: #fff !important; */
}
.input-group input{
    background-color: #e9e7e7d2;
}
.input-group select{
    background-color: #e9e7e7d2;
}